.progress-wrapper {
  width: 100%;
}

.progress-bar-track {
  /* height: 6px; */
  background-color: #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

/* Segmented style */
.progress-bar-track.segmented {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 10px; /* small space between steps */
  background: transparent;
}

.progress-segment {
  background: #e5e5e5;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.progress-segment-fill {
  height: 100%;
  transition: width 0.25s ease-in-out;
}
